<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Película Editada:  <%= movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= movie.id %>?_method=PUT" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.old? old.title: movie.title %>"></p>
            <% if (locals.errors && errors.title) { %>
                <span><%= errors.title.msg %></span>
            <% } %>
            
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.old? old.rating: movie.rating %>"></p>
            <% if (locals.errors && errors.rating) { %>
                <span><%= errors.rating.msg %></span>
            <% } %>
            
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.old? old.awards: movie.awards %>"></p>
            <% if (locals.errors && errors.awards) { %>
                <span><%= errors.awards.msg %></span>
            <% } %>

            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.old? old.release_date: movie.release_date %>"></p>
            <% if (locals.errors && errors.release_date) { %>
                <span><%= errors.release_date.msg %></span>
            <% } %>

            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= movie.length %>"></p>
            <label for="genre_id">Genre </label>
            <p>
                <select name="genre_id" id="" required>
                    <% allGenres.forEach(genre => { %>
                    <option value="<%= genre.id %>" <% if (movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                    <% }); %>
                </select>
            </p>
            <% if (locals.errors && errors.genre_id) { %>
                <p><span class="error"><%= errors.genre_id.msg %> </span></p>
            <% } %>
            
            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>